include head
body
  .wrap
    .content
      include header/header

      .container
        h2 #{category[0]['category']}
        .row
          each val, index in goods
            include card/card
        p #{category[0]['description']}